{% extends "base.html" %}

{% block cuerpo %}
<center>
    <div class="row justify-content-center"> <!-- Fila centrada -->
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4"> <!-- Columna centrada -->
            <center><h1>Editar Pedidos</h1></center>
            <div class="card mx-auto"> <!-- Tarjeta centrada -->
                <div class="card-body">
                    <form action="/editarPedido/" method="POST"> {% csrf_token %}
                        <div class="form-group">
                            <input type="number" id="id_pedido" name="id_pedido" class="form-control" placeholder="Id Pedido" minlength="1" maxlength="6" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" maxlength="100" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="date" id="fech" name="fech" placeholder="Fecha" class="form-control" min="2024-01-01" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="number" id="id_Cliente" name="id_Cliente" class="form-control" placeholder="Id Cliente" minlength="1" maxlength="6" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="number" id="Costo" name="Costo" class="form-control" placeholder="Costo" maxlength="6" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" id="Direccion" name="Direccion" class="form-control" placeholder="Direccion" maxlength="100" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="number" id="Cantidad" name="Cantidad" class="form-control" placeholder="Cantidad" minlength="1" maxlength="10" required>
                        </div>
                        <br>
                        <div class="form-group py-2 text-center">
                            <button type="submit" class="btn btn-primary btn-dark">Guardar Pedido</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!-- Fin de la columna -->
    </div> <!-- Fin de la fila -->
</center>
{% endblock %}